<div class="container" style="margin-left: 25%; height: 750px; padding-top: 20px;">
    <ol class="list-group list-group-numbered" style="width: 70%;">
        <h1 style="text-align: center;">Claims</h1>
        <li *ngFor="let claim of claims; let i = index"
            class="list-group-item d-flex justify-content-between align-items-start" style="border-color:#0f3274;">
            <div class="ms-2 me-auto">
                <div class=""><b>  Claim Number: {{claim.claimId}}, {{claim.name | uppercase}}</b></div>
                DOB: {{claim.dob}}, Admission Date: {{claim.admissionDate}}, Discharge Date: {{claim.dischargeDate}}, Provider: {{claim.provider}}, Bill: {{claim.totalBill}}
            </div>
        </li>
        <div *ngIf="claims && claims.length == 0" class="alert alert-danger" role="alert">No Claims Found</div>
    </ol>
</div>
